# --- MÔ HƯỜNG & BẢO MẬT ---
.env
files.env
venv/
__pycache__/
*.pyc
*.pyo

# --- FRONTEND / NODE ---
frontend/node_modules/
frontend/dist/
frontend/build/

# --- BACKEND / LOGS ---
backend/logs/
backend/log/



# --- HỆ THỐNG / IDE ---
.idea/
.vscode/
.DS_Store
*.log